---
import { Image } from 'astro:assets';
import profileImage from '../assets/images/profile.jpg';
import blogImage from '../assets/images/blog.png';
import publicationsImage from '../assets/images/publications.png';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroCard from '../components/HeroCard.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
        <section class='mt-16 flex flex-col-reverse md:flex-row gap-8 md:gap-12 items-center justify-center md:justify-between px-8 mx-auto max-w-screen-lg'>
		<div class='text-center flex flex-col gap-4 md:gap-2 md:text-end'>
			<p class='font-bold text-6xl'>
				<span class='hero-text-gradient-blue'>à¸ªà¸§à¸±à¸ªà¸”à¸µ!</span>
				<span class='hero-text-gradient-purple'>Hello!</span>
			</p>
			<h1 class='text-4xl'>
				I'm <span class='font-bold hero-text-gradient-orange'>Pete</span>
			</h1>
			<p class='text-2xl'>Pittawat Taveekitworachai</p>
		</div>
		<Image
			src={profileImage}
			alt="Pete's profile picture"
			class='rounded-full w-48 h-48 mt-4'
		/>
	</section>
        <section class='mt-24 flex flex-col lg:flex-row gap-12 max-w-screen-lg mx-auto'>
		<HeroCard
			title='ðŸ“ Blog'
			description='I write on various topics that benefit others. I believe in simplifying difficult concepts democritizing knowledge.'
			image={blogImage}
			url='/blog'
		/>
		<HeroCard
			title='Publications ðŸ§ª'
			description='My research interests lie in the field of large language models and prompt engineering. I am also interested in other topics related to LLMs as well as their applications in various domains.'
			image={publicationsImage}
			url='/publications'
			isReverse={true}
		/>
	</section>
</BaseLayout>
