---
import { Image } from 'astro:assets';

const { image, url, title, description, isReverse = false } = Astro.props;
---

<div
        class='border border-gray-200 rounded-xl flex-1 pointer bg-white hover:border-blue-500 group transition-all duration-300 shadow-sm'
>
       <a
               class={`flex w-full flex-col p-8 lg:p-12 gap-8 pointer items-center${isReverse ? ' 2xl:flex-col-reverse' : ' 2xl:flex-col'}`}
               href={url}
       >
                <Image
                        class='flex-1 w-64 lg:w-72 h-64 lg:h-72 group-hover:scale-105 transition-transform duration-300 ease-in-out'
                        src={image}
                        alt={title}
                />
               <div class={`flex w-full flex-col flex-3 items-center 2xl:items-start h-full${isReverse ? ' 2xl:items-end' : ''}`}>
                       <h1 class='text-2xl lg:text-3xl mb-4 font-bold text-gray-900'>{title}</h1>
                       <p class={`text-lg text-center xl:text-start lg:text-xl break-words hyphens-auto text-gray-600${isReverse ? ' 2xl:text-end' : ''}`}>
                               {description}
                       </p>
               </div>
       </a>
</div>
